{% extends 'base.html.twig' %}

{% block title %}Hello StatusController!{% endblock %}

{% block body %}
    <ul>
        {% for service in services %}
            <li>{{ service.name }} - {{ service.status }}</li>
        {% endfor %}
    </ul>
{% endblock %}
