{% extends 'base.html.twig' %}

{% block title %}Hello StatusController!{% endblock %}

{% block body %}
    <ul>
        {% for service in services %}
            <li>
                <div>
                    <h3>{{ service.name }}</h3> {{ service.getCurrentStatus().getState() }}
                    <div>
                        {% for status in service.statuses %}
                            {{ status.getState() }}
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
